<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista pessoas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-loading [isOpen]="loading" message="Carregando..."></ion-loading>
  
  <form [formGroup]="filterForm">
    <ion-item>
    <ion-searchbar animated="true" placeholder="Pesquisar pelo nome"
    formControlName="nome"></ion-searchbar>
    </ion-item>
    </form>
    
  <ion-list>
    <ion-item *ngFor="let pessoa of pessoas">
      <ion-label>
        {{pessoa.nome}} - {{pessoa.email}} ({{pessoa.telefone}})
        <ion-button (click)="editar(pessoa)">Editar</ion-button>
        <ion-button color="danger" (click)="deletar(pessoa)">Deletar</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>