<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista pessoas
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lista pessoas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let pessoa of pessoas">
      <ion-label>{{pessoa.nome}} - {{pessoa.email}} ({{pessoa.telefone}})
        <ion-button (click)="editar(pessoa)">Editar</ion-button>
        <ion-button color="danger" (click)="deletar(pessoa)">Deletar</ion-button></ion-label>
    </ion-item>
  </ion-list>
</ion-content>